{% extends 'base.html' %}
{% block title %}LOGIN{% endblock %}
{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST"> {% csrf_token %}
      <span id="login-error"></span>
      {{ form }}
      <button>login</button>
      <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
      <p class="message"><a class="redirect" href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </form>
  </div>
</div>
{% endblock %}
