{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %} 
<style>
   .forgot-password li{
      text-align: left;
      font-weight: unset;
   }
   .forgot-password ul:nth-last-child(1){
      margin-bottom: 10px;
      display:none;
   }
</style>
<div class="login-page forgot-password">
   <div class="form">
      <h1 style="text-transform:uppercase"> Reset Your password </h1><br>
     <form class="login-form" method="POST"> {% csrf_token %}
       {{ form }}
       <button>login</button>
     </form>
   </div>
 </div>
{% endblock %}