{% extends 'base.html' %}
{% block content %}
<div class="login-page">
    <div class="form">
        <h3 class="text-center lead"> SIGN UP</h3>
        <p id="errors" class="text-center lead"></p>
        {% if ProfileRegisterForm.errors %}
            {% for error in ProfileRegisterForm.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form id="register" class="login-form" method="post">{% csrf_token %}
            {{ form.as_p }}
            {{ advanceform.as_p }}
            <input id="submit" type="submit" value="SAVE USER">
         </form>
  </div>
{% endblock %}