*{
    margin:0;
    padding:0;
}
body{
  background:rgb(251, 231, 181);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.messages{
    position:absolute;
    top:10px;
    left:0;
    right:0;
    z-index:100000000000000;
}

#branch{
    display: none;
}
/* Multi step form */

#select-preference {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 11px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
#select-preference .tab {
display: none;
}

#select-preference button {
background-color: rgb(251, 181, 101);
color: #000000;;
border: none;
margin-top: 11px;
border-radius: 11px;
padding: 5px 15px;
font-size: 21px;
font-weight: bold;
/* font-family: Raleway; */
cursor: pointer;
text-transform: uppercase;
}

#select-preference button:hover {
opacity: 0.8;
}

#select-preference #prevBtn {
background-color: #bbbbbb;
}