#reset_done {
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(226, 28, 28, 0.2),
    17px 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 11px;
}

#link_sent {
  color: red;
  font-size: 2em;
}

#password_changed{
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(226, 28, 28, 0.2),
    17px 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 11px;
}

#pass_changed{
  font-size: 1.5em;
  color: #0d6efd;
  font-weight: bold;
}

#pass_user{
  text-transform: uppercase;
  color: rgb(251,181,101);
  font-size: 21px;
  font-weight: bold;
}
@media only screen and (max-width: 651px){
  #reset_done {
    width: 80%;
  }
  #password_changed{
    width: 80%;
  }
}
