#reset_done {
  width: 60%;
  padding: 20px;
  margin: auto;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(226, 28, 28, 0.2),
    17px 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 11px;
}

#link_sent {
  color: red;
  font-size: 2em;
}

@media only screen and (max-width: 651px){
  #reset_done {
    width: 80%;
  }
}
