@media (max-width: 751px){
    .main{
        height: 1551px;
        justify-content: flex-start;
    }
    #select-preference .select_branch{
        justify-content: space-around;
    }
    #select-preference h1{
        font-size: 31px;
    }
    #select-preference .pre{
        flex-direction: column;
        margin: 11px;
        padding: 5px;
        border-radius: 11px;
        background-color:rgb(241, 228, 169);
        box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.3);
    }
}