{% extends "easy_pdf/base.html" %}
{% block extra_style %}
<style>
    img{
        float:right;
    }
    table,th,td{
        border:1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c6/NIT_Silchar_logo.png" height="300" width="300">
    </div>
    <div>
        Date {% now "jS F Y H:i" %}<br>
        Department {{ department }}<br>
        Session: {{ session }}
    </div>
</div>

{% regroup preferences|dictsort:"user.first_name" by full_name as faculties %}
<table>
    {% for i in '09gf8'|make_list %}
        <tr>
            {% if forloop.counter == 1 %}
                <th>{{ grouper }}</th>
                <th>Course Type</th>
                <th>Choice</th>
                <th>UG/PG</th>
                <th>Sem</th>
                <th style="width:160px;">Course Name</th>
            {% endif %}
        </tr>

        {% for grouper, prefer in faculties %}
            <tr>
                <th rowspan="7">{{ grouper }}</th>
            </tr>
            {% for fac in prefer %}
            <tr>
                <th">{{fac.course_type}}</th>
                <td style="width:60px;">{{fac.preference_num }}</td>
                <td style="width:60px;">{{fac.ug_pg}}</td>
                <td style="width:60px;">{{fac.semester}}</td>
                <td>{{fac.course_name}}</td>
            </tr>
            {% endfor %}

        {% endfor %}
    {% endfor %}
</table>
{% endblock %}