{% extends "easy_pdf/base.html" %}
{% block extra_style %}
<style>
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
.hash1,.hash2.hash3,.hash4,.hash5,hash6{
    width:150px;
}
</style>
{% endblock %}

{% block content %}
<p>
        <center> <h2> Course allotment </h2></center>
    </p>
    <table>
        {% for i in '0123456782345678909'|make_list %}
            <tr>
                <td class="hash1"  colspan="1" rowspan="6" > 'Vishal Pandey' </td>
                <td class="hash2"  colspan="1" rowspan="3" > 'Core' </td>
                <td  class="hash2"> Preference 1 </td>
                <td class="hash3" colspan="2" rowspan="1" > UG </td>
                <td class="hash2"> Sem 1</td>
                <td class="hash4">Microprocessors and Microcontrollers </td>
            </tr>

            <tr>
                <td class="hash2"> </td>
                <td  class="hash3" colspan="2" rowspan="1" >  </td>
                <td class="hash2"> </td>
                <td class="hash4"> </td>
            </tr>

            <tr>
                <td class="hash2"> </td>
                <td class="hash3" colspan="2" rowspan="1" ></td>
                <td class="hash2"> </td>
                <td class="hash4"></td>
            </tr>

            <tr>
                <td class="hash2" colspan="1" rowspan="3" > 'Elective'</td>
                <td  class="hash2"></td>
                <td class="hash5"> </td>
                <td class="hash6"></td>
                <td class="hash2"></td>
                <td class="hash4"></td>
            </tr>

            <tr>
                <td class="hash2"></td>
                <td class="hash5"></td>
                <td class="hash6"></td>
                <td class="hash2"></td>
                <td class="hash4"> </td>
            </tr>
            <tr>
                <td class="hash2"> </td>
                <td class="hash5"> </td>
                <td class="hash6"></td>
                <td class="hash2"></td>
                <td class="hash4"></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}