{% extends 'base.html' %}
{% block content %}
<style>
    img{
        float:right;
    }
    table,th,td{
        border:1px solid black;
        border-collapse: collapse;
        padding:5px;
        text-align: center;
        vertical-align: middle;
    }
</style>
<div>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c6/NIT_Silchar_logo.png" height="300" width="300">
    </div>
    <div>
        Date {% now "jS F Y H:i" %}<br>
        Department {{ profile.get_department_display }}
    </div>
</div>
    

    {% regroup preferences|dictsort:"user.first_name" by full_name as faculties %}
    <table>
    {% for grouper, prefer in faculties %}
        <tr>
            <th rowspan="7">{{ grouper }}</th>
            <th scope="col">Course Type</th>
            <th scope="col">Preference Num</th>
            <th scope="col">UG/PG</th>
            <th scope="col">Semester</th>
            <th scope="col">Course Name</th>
        </tr>
        {% for fac in prefer %}
            <tr>
                <th scope="row">{{fac.course_type}}</th>
                <td>{{fac.preference_num }}</td>
                <td>{{fac.ug_pg}}</td>
                <td>{{fac.semester}}</td>
                <td>{{fac.course_name}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}