{% extends 'base.html' %}
{% block title %}NITS{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
{% if profile.designation == 'HOD' %}
    <div class="row">
        <div class="col-md-2 col-sm-12">
            {% if sessions %}
            <center>
                <h4> Sessions </h4>
                {% for session in sessions reversed %}
                    {% for i in session %}
                        <a class="text-capitalize" href="{% url 'preference' i %}"> {{ i }} </a>
                    {% endfor %}
                {% endfor %}
            </center>
            {% endif %}
        </div>

        <div class="col-md-6 col-sm-12 mx-auto">
            {% if preferences %}
                <h1 class="text-center"> PREFERENCES SUBMITTED -- {% widthratio preferences|length 6 1 %}</h1>
                <h4 class="text-center"> Sorted agains faculties name </h4>
            {% else %}
                <h2 class="text-center"> No submission for this session. </h2>
            {% endif %}
            {% regroup preferences|dictsort:"user.first_name" by user.first_name as faculties %}
            <div id="preference-container" id="according-to-faculty">
                    <div class="accordion" id="accordionExample">

                        {% for grouper, prefer in faculties %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                {{ grouper }}
                                </button>
                            </h2>
                            <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse {% if forloop.counter == 1 %} show {% endif %}" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table table-hover table-light">
                                        <thead>
                                            <tr>
                                                <th scope="col">Course Type</th>
                                                <th scope="col">UG/PG</th>
                                                <th scope="col">Semester</th>
                                                <th scope="col">Course Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for fac in prefer %}
                                            <tr>
                                                <th scope="row">{{fac.course_type}}</th>
                                                <td>{{fac.ug_pg}}</td>
                                                <td>{{fac.semester}}</td>
                                                <td>{{fac.course_name}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        {% endfor %}

                    </div>
            </div>

        </div>
    </div>
{% endif %}
{% endblock %}