<div class="preview">
    <h1 class="text-center">Preview</h1>
    <h3 class="text-center">Core courses</h3>
    <div class="preViewBox">
        <h5 class="text-center">Preference 1 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg1"></span></span><br>
        <span class="semester">Semester: <span id="preSemester1"></span></span><br>
        <span class="course">Course: <span id="preCourse1"></span></span><br>
    </div>
    <div class="preViewBox">
        <h5 class="text-center">Preference 2 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg2"></span></span><br>
        <span class="semester">Semester: <span id="preSemester2"></span></span><br>
        <span class="course">Course: <span id="preCourse2"></span></span><br>
    </div>
    <div class="preViewBox">
        <h5 class="text-center">Preference 3 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg3"></span></span><br>
        <span class="semester">Semester: <span id="preSemester3"></span></span><br>
        <span class="course">Course: <span id="preCourse3"></span></span><br>
    </div>
    <h3 class="text-center">Elective courses</h3>
    <div class="preViewBox">
        <h5 class="text-center">Preference 1 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg4"></span></span><br>
        <span class="semester">Semester: <span id="preSemester4"></span></span><br>
        <span class="course">Course: <span id="preCourse4"></span></span><br>
    </div>
    <div class="preViewBox">
        <h5 class="text-center">Preference 2 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg5"></span></span><br>
        <span class="semester">Semester: <span id="preSemester5"></span></span><br>
        <span class="course">Course: <span id="preCourse5"></span></span><br>
    </div>
    <div class="preViewBox">
        <h5 class="text-center">Preference 3 </h5>
        <span class="ug-pg"> UG/PG: <span id="preUgPg6"></span></span><br>
        <span class="semester">Semester: <span id="preSemester6"></span></span><br>
        <span class="course">Course: <span id="preCourse6"></span></span><br>
    </div>
</div>