{% extends 'base.html' %}
{% block content %}
<style>    
#button-container p {
    text-decoration: none;
    font-size: 19px;
    text-align: left;
    padding-left: 10px;
}
</style>
<div class="profile">
    <div class="mid">
        <div class="head">INFORMATION<hr></div>
        <div class="Zerothrow">
            <div class="username">
                Name:<p class="feed">{{ user.first_name|title }} {{ user.last_name }} </p>
            </div>
            <div class="designation">
                Designation:<p class="feed">{{ profile.get_designation_display}} </p>
            </div>
        </div>

        <div class="firstrow">
            <div class="department">
                Department:<p class="feed">{{ profile.get_department_display }}</p>
            </div>

            <div class="email">
                Email: <p class="feed"><a href="mailto:{{ profile.user.email }}"> {{ profile.user.email }} </a></p>
            </div>
        </div>

        <div class="secondrow">
            <div class="phno">
                Phone:<p class="feed"> <a href="tel:{{profile.phone_number}}">{{profile.phone_number}} </a> </p>
            </div>

            {% if requested_user == user %}
            <div id="button-container">
                Change Password?
                <p>
                    <a class="link-primary" href="{% url 'password_change' %}"> Click Here </a>
                </p>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}