{% extends 'base.html' %}
{% block content %}
<style>
       
        #button-container a,p {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(176, 183, 184);
            font-size: 19px;
        
            /* padding-right: 10px; */
            text-align: left;
            padding-left: 10px;
            
        }
</style>
<div class="profile">
        <div class="mid">
            <div class="head">
                INFORMATION
                <hr>
            </div>

            <div class="Zerothrow">
                    <div class="username">
                        Name:
                        <p class="feed">{{ profile.username }}</p>
                       <!-- {{ profile.username }} -->
                    </div>
                    <div class="designation">
                        Designation:
                        <p>HOD</p>
                        <!-- <p class="feed">{{ profile.get_designation_display }}</p> -->
                       
                    </div>
            </div>
            <div class="firstrow">
                <div class="department">
                    Department:
                    <p class="feed">{{ profile.get_department_display }}</p>
                </div>

                <div class="email">
                    Email:
                    <p class="feed">{{ profile.user.email }}</p>
                </div>
            </div>

            <div class="secondrow">
                <div class="phno">
                    Phone:
                    <p class="feed"> {{profile.phone_number}} </p>
                </div>
            
		
                <div id="button-container">
                    Change Password?
                    <p>
			{% if requested_user == user %}
                        <a href="{% url 'password_change' %}"> Click Here </a>
			{% endif %}
                    </p>
                </div>
                

            </div>


        </div>
</div>
{% endblock %}